function Goleiro.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push pointer 0
call Goleiro.colocaEmCampo 1
pop temp 0
push pointer 0
return
function Goleiro.colocaEmCampo 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 10
pop this 1
push constant 88
pop this 2
push constant 20
pop this 3
push constant 168
pop this 4
label IF_FALSE0
push this 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 492
pop this 1
push constant 88
pop this 2
push constant 502
pop this 3
push constant 168
pop this 4
label IF_FALSE1
push this 1
push this 2
push this 3
push this 4
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Goleiro.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 1
push this 2
push this 3
push this 4
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Goleiro.moveDown 0
push argument 0
pop pointer 0
push this 4
push constant 245
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
call Goleiro.erase 1
pop temp 0
push this 2
push constant 10
add
pop this 2
push this 4
push constant 10
add
pop this 4
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
push this 2
push this 3
push this 4
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Goleiro.moveUp 0
push argument 0
pop pointer 0
push this 2
push constant 11
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
call Goleiro.erase 1
pop temp 0
push this 2
push constant 10
sub
pop this 2
push this 4
push constant 10
sub
pop this 4
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
push this 2
push this 3
push this 4
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Goleiro.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
